@{
    ViewBag.Title = "Home Page";
}

<h2>JustGiving QA Automation Test</h2>
<p>
    All accounts created are stored in memory<br/>
    If you re-start the web app, any accounts you have created will vanish.<br/>
    Any accounts created will vanish if you come back to the hosted version of this app after around 10-15 minutes.<br/>
    Ensure your tests can cope with this by using adequate SetUp code.
</p>
